@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: orange;
}

.square {
  background: #fff;
  border: 1px solid #999;
  /*float: left;*/
  font-size: 24px;
  font-weight: bold;
  /*line-height: 64px;*/
  height: 64px;
  /*margin-right: -1px;*/
  /*margin-top: -1px;*/
  /*padding: 0;*/
  text-align: center;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square svg {
  width: 28px;
  height: 28px;
/*  24? */
}

.outer-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  border: 1px solid white;
}

.inner-board {
  /*position: relative;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 192px;
  max-height: 192px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.winner-char {
  max-width: 192px;
  max-height: 192px;
  width: 100%;
  height: 100%;
}

.winner-char svg {
  position: relative;
  /*max-width: 192px;*/
  /*max-height: 192px;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.winner-board {
  height: 192px;
  width: 192px;
  border: orange 1px solid;
  padding: 20%;
}

@media screen and (max-width: 900px) {
  .inner-board, .winner-board {
    max-width: 126px;
    max-height: 126px;
  }
  .square {
    max-height: 42px;
    max-width: 42px;
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}


.inner-board.disabled {
  opacity: 0.5;
}