@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*html, body {*/
/*  height: 100%;*/
/*  !*overflow: hidden;*!*/
/*}*/


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100vw;*/
  /*height: 100vh;*/
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: orange;
}

/*.square {*/
/*  background: #fff;*/
/*  border: 1px solid #999;*/
/*  !*float: left;*!*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*  !*line-height: 64px;*!*/
/*  height: 64px;*/
/*  !*margin-right: -1px;*!*/
/*  !*margin-top: -1px;*!*/
/*  !*padding: 0;*!*/
/*  text-align: center;*/
/*  width: 64px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.square svg {*/
/*  width: 28px;*/
/*  height: 28px;*/
/*!*  24? *!*/
/*}*/


.inner-board {
  /*position: relative;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 192px;
  max-height: 192px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.status {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/*.restart-btn {*/
/*  position: absolute;*/
/*  background: #f9f9f9;*/
/*  border: 1px solid #999;*/
/*  border-radius: 5px;*/
/*  color: #333;*/
/*  display: inline-block;*/
/*  font-size: 16px;*/
/*  margin-top: 20px;*/
/*  padding: 10px 20px;*/
/*}*/

/*.restart-btn:hover {*/
/*  background: orange;*/
/*}*/

/*.menu-screen {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
  /*padding: 0 10px;*/
  /*max-width: 500px;*/
  /*margin: 0 auto 20px;*/
/*}*/

/*.menu-button {*/
/*  flex: 1 0 auto;*/
/*  margin: 0.45rem;*/
/*  padding: 0.45rem;*/
/*  box-sizing: border-box;*/
/*  text-align: center;*/
/*  border: 1px solid orange;*/
/*  border-radius: 0.5rem;*/
/*}*/

/*.menu-button:hover {*/
/*    background: rgba(255, 165, 0, 0.5);*/
/*    color: white;*/
/*}*/

/*.winning-row {*/
/*  background: #c07f00;*/
/*}*/

/*.last-your-move {*/
/*  border: 3px solid blue;*/
/*}*/

/*.last-board-won-you {*/
/*  border: 3px solid blue;*/
/*}*/

/*.last-opponent-move {*/
/*  border: 3px solid red;*/
/*}*/

/*.last-board-won-opponent {*/
/*  border: 3px solid red;*/
/*}*/
